<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'index'}}<span class="glyphicon glyphicon-arrow-left"></span> Список{{/link-to}}
        </li>
      </ul>

      <p class="navbar-text"><strong>{{if stats stats.name 'Результаты синхронов ЧГК'}}</strong></p>
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <label>Город:</label>
          {{input class="form-control" value=api.city placeholder="Город" enter="refresh"}}
        </div>
      </div>
  </div>
</nav>

{{#if stats}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Команда</th>
        <th class="text-center" title="Состав">С</th>
        <th class="text-center" title="Место">М</th>
        <th class="text-center" title="Рейтинг">Б</th>
        <th class="text-center" title="Всего взято">В</th>
        {{#each (range 1 stats.tours) as |tour|}}
          {{#each (range 1 stats.questions) as |question|}}
            <th class="text-center {{if (eq question 1) 'left-bordered'}}">{{add question (mult (sub tour 1) stats.questions)}}</th> 
          {{/each}}
        {{/each}}
      </tr>    
    </thead>
    <tbody>
      {{#each stats.commands as |command|}}
        <tr>
          <td title={{command.realName}}>{{command.name}}</td>
          <td>{{#if rating}}<abbr title={{get (get rating command.id) 'people'}}>?</abbr>{{else}}&nbsp;{{/if}}</td>
          <td>{{command.place}}</td>
          <td class="text-right small-padding">{{get (get rating command.id) 'bonus'}}</td>
          <td class="text-right">{{command.total}}</td>
          {{#each-in command.results as |tourId tourResults|}}
            {{#each-in tourResults as |question result|}}
              <td class="text-center {{if (eq (mod question stats.questions) 1) 'left-bordered'}}">
                {{#if (eq result '1')}}
                  <span class="text-success glyphicon glyphicon-ok-circle"></span>
                {{else if (eq result 'X')}}
                  <span class="text-muted glyphicon glyphicon-remove"></span>
                {{else}}
                  <span class="text-muted glyphicon glyphicon-minus"></span>
                {{/if}}
              </td>
            {{/each-in}}
          {{/each-in}}
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">% взятия</th>
        {{#if percentage}}
          {{#each-in percentage as |question data|}}
            <td title={{concat data.number ' из ' stats.commandsTotal}} 
                class="text-center small-padding {{if (eq (mod question stats.questions) 1) 'left-bordered'}}" 
                style={{percentcolor data.percent 'background'}}>
              <small>{{data.percent}}</small>
            </td>
          {{/each-in}}
        {{else}}
          <td class="text-center left-bordered" colspan={{mult stats.tours stats.questions}}>
            {{#if percentageError}}
              <span class="text-danger">{{percentageError.message}}</span>
            {{else}}
              Загрузка...
            {{/if}}
          </td>
        {{/if}}
      </tr>
    </tfoot>
  </table>
{{else if statsError}}
  <p class="text-danger">{{statsError.message}}</p>
{{else}}
  <p>Загрузка результатов...</p>
{{/if}}